// 后台菜单左侧导航宽度尺寸
$navMenu: 250px;
$navMenuMin: 64px;
// 主色调
$mainColor: #f56c6c;

@mixin labelDom($align, $width, $line-height: "normal") {
  label {
    float: left;
    text-align: $align;
    width: $width + px;
    line-height: $line-height + px ;
  }
  .warp-content {
    margin-left: 60px;
  }
}