.el-submenu .el-menu-item {
  color: #fff;
  font-size: 14px;
  padding-left: 50px !important;
  &.is-active {
    background-color: rgba(245, 108, 108, .3) !important;
  }
}

.el-submenu {
  &.is-active.is-opened .el-submenu__title{
    background-color: $mainColor !important;
  }
}

.close {
  .el-submenu {
    &.is-opened {
      > .el-submenu__title {
        background-color: $mainColor !important;
      }
    }
  }
}
.el-menu--vertical {
  .el-menu {
    background-color: #fab6b6 !important;
  }
  .el-menu-item {
    line-height: 56px;
  }
  .el-menu-item:hover {
    background-color: $mainColor !important;
  }
  .el-menu-item.is-active {
    color: $mainColor !important;
  }
}

// 信息列表页面
.infoList {
  .el-table td, .el-table th {
    text-align: center;
  }
  th {
    font-weight: bold;
    color: #233a5f;
  } 
  tds {
    font-size: 14px;
  };
  // 弹窗
  .el-dialog__body {
    padding: 30px 15px !important;
  }
  .el-dialog__footer {
    text-align: center;
  }
  .el-form-item {
    margin-bottom: 20px;
  }
  .el-form-item:last-child {
    margin-bottom: 0 !important;
  }
  .el-dialog__footer {
    .dialog-footer {
      .el-button {
        width: 150px;
      }
    }
  }

}